<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Clock</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="stylesheets/clock.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
</head>

<body>
	<div class="clock">
		<div class="time">
			<div>
				<span class="hour">

				</span>
			</div>
			<div>
				<span class="minute">

				</span>
			</div>
			<div>
				<span class="second">

				</span>
			</div>
		</div>


		<div class="date">
			<span class="day2">

			</span>

			<span class="month">

			</span>

			<span class="year">

			</span>
		</div>
	</div>




	<script src="http://localhost:4000/socket.io/socket.io.js"></script>
	<script src="javascripts/clock.js"></script>
</body>

</html>