<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/roomList.css">
  <link rel="stylesheet" href="stylesheets/clock.css">
  <title>Chat Box</title>

</head>

<body>

  <div class="clock">
    <div class="time">
      <div>
        <span class="hour"> </span>
      </div>
      <div>
        <span class="minute"> </span>
      </div>
      <div>
        <span class="second"> </span>
      </div>
    </div>
    <div class="date">
      <span class="day2"> </span>
      <span class="month"> </span>
      <span class="year"> </span>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="room col-sm-6">
        <div class="room-box">
          <div class="room-list">
            <% roomList.forEach((room) =>{ %>
            <div class="room-name">
              <a href="/<%= room.roomname %>">
                <%= room.roomname %>
              </a>
            </div>
            <% }) %>

          </div>
        </div>
        <form class="room-send" action="/newRoom" method="POST">
          <input class="room-input" name="newRoom" type="text" placeholder="Join room above or create your own..."
            maxlength="32" required>
          <button class="room-button" type="submit">Create Room</button>
        </form>
      </div>
    </div>
  </div>
  </div>


  <script src="http://localhost:5000/socket.io/socket.io.js"></script>
  <script src="javascripts/clock.js"></script>
  <script src="javascripts/index.js"></script>

</body>

</html>